In [37]:
#import dependencies
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [38]:
df = pd.read_csv('../NCAA_data.csv')
df.head()

,player_id,name,class,college,assists,blocks,effective_field_goal_percentage,field_goal_percentage,free_throw_attempt_rate,free_throw_percentage,...,turnover_percentage,turnovers,win_shares_per_40_minutes,assists_per_40,blocks_per_40,points_per_40,steals_per_40,three_pointers_per_40,total_rebounds_per_40,turnovers_per_40
0,kenyon-martin-1,Kenyon Martin,Player,cincinnati,142,292,0.587,0.586,0.494,0.581,...,14.3,139.0,0.346,2.781587,5.719882,25.053869,2.428991,0.039177,17.022527,2.722821
1,aj-guyton-1,A.J. Guyton,Player,indiana,403,52,0.541,0.455,0.249,0.790,...,13.6,218.0,0.145,4.944785,0.638037,25.766871,1.582822,3.472393,5.263804,2.674847
2,jake-voskuhl-1,Jake Voskuhl,Player,uconn,124,193,0.542,0.542,0.555,0.656,...,23.0,160.0,0.237,2.271062,3.534799,15.805861,1.575092,0.000000,16.117216,2.930403
3,khalid-el-amin-1,Khalid El-Amin,Bust,uconn,479,10,0.486,0.416,0.257,0.822,...,15.6,188.0,0.158,8.915775,0.186133,30.711959,3.462075,3.629595,5.937645,3.499302
4,mike-smith-1,Mike Smith,Bust,university of louisiana at monroe,147,42,0.507,0.428,0.357,0.769,...,20.0,241.0,0.165,3.034056,0.866873,21.919505,1.857585,2.683179,9.267286,4.974200

In [39]:
y = df["class"]

In [40]:
from sklearn.preprocessing import LabelEncoder
y = df["class"]
labels = LabelEncoder()
labels.fit(y)
encoded_y = labels.transform(y)

In [41]:
en_y = encoded_y
df["code"]=en_y
df.head()

,player_id,name,class,college,assists,blocks,effective_field_goal_percentage,field_goal_percentage,free_throw_attempt_rate,free_throw_percentage,...,turnovers,win_shares_per_40_minutes,assists_per_40,blocks_per_40,points_per_40,steals_per_40,three_pointers_per_40,total_rebounds_per_40,turnovers_per_40,code
0,kenyon-martin-1,Kenyon Martin,Player,cincinnati,142,292,0.587,0.586,0.494,0.581,...,139.0,0.346,2.781587,5.719882,25.053869,2.428991,0.039177,17.022527,2.722821,1
1,aj-guyton-1,A.J. Guyton,Player,indiana,403,52,0.541,0.455,0.249,0.790,...,218.0,0.145,4.944785,0.638037,25.766871,1.582822,3.472393,5.263804,2.674847,1
2,jake-voskuhl-1,Jake Voskuhl,Player,uconn,124,193,0.542,0.542,0.555,0.656,...,160.0,0.237,2.271062,3.534799,15.805861,1.575092,0.000000,16.117216,2.930403,1
3,khalid-el-amin-1,Khalid El-Amin,Bust,uconn,479,10,0.486,0.416,0.257,0.822,...,188.0,0.158,8.915775,0.186133,30.711959,3.462075,3.629595,5.937645,3.499302,0
4,mike-smith-1,Mike Smith,Bust,university of louisiana at monroe,147,42,0.507,0.428,0.357,0.769,...,241.0,0.165,3.034056,0.866873,21.919505,1.857585,2.683179,9.267286,4.974200,0

In [42]:
labels_df = pd.DataFrame({"class": y, "code": encoded_y}).drop_duplicates(subset=None, keep="first")
labels_df

    class  code
0  Player     1
3    Bust     0

In [43]:
encoded_y =encoded_y.reshape(-1, 1)

In [44]:
X = df.drop(["class","player_id","name","college",'assists_per_40',
            'turnovers','points','blocks_per_40','turnover_percentage',
            'blocks','steals','assists','three_pointers_per_40','three_pointers',
            'total_rebounds', 'free_throw_percentage', 
             'games_played','minutes_played', 'points_per_40','steals_per_40',
            'total_rebounds_per_40','turnovers_per_40', "code", "effective_field_goal_percentage"], axis=1)
feature_names = X.columns
X.head()

,field_goal_percentage,free_throw_attempt_rate,height,three_point_percentage,true_shooting_percentage,win_shares_per_40_minutes
0,0.586,0.494,81,0.222000,0.592,0.346
1,0.455,0.249,73,0.414000,0.572,0.145
2,0.542,0.555,83,0.329162,0.573,0.237
3,0.416,0.257,70,0.355000,0.527,0.158
4,0.428,0.357,80,0.318000,0.551,0.165

In [45]:
print(X.shape)
print(y.shape)

(853, 6)
(853,)

In [46]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, encoded_y, random_state=42)

In [47]:
from sklearn.preprocessing import MinMaxScaler
X_scaler = MinMaxScaler().fit(X_train)
# y_scaler = MinMaxScaler().fit(y_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
# y_train_scaled = y_scaler.transform(y_train)
# y_test_scaled = y_scaler.transform(y_test)

/Users/melissamason/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [48]:
# Create a random forest classifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train_scaled, y_train)
rf.score(X_test_scaled, y_test)

/Users/melissamason/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.6682242990654206

In [49]:
# Random Forests in sklearn will automatically calculate feature importance
importances = rf.feature_importances_
importances

array([0.19313816, 0.17775429, 0.10158122, 0.16325049, 0.17854788,
       0.18572796])

In [50]:
# We can sort the features by their importance
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.19313816043405801, 'field_goal_percentage'),
 (0.18572796280426668, 'win_shares_per_40_minutes'),
 (0.17854787839084132, 'true_shooting_percentage'),
 (0.17775429372151802, 'free_throw_attempt_rate'),
 (0.16325048827197336, 'three_point_percentage'),
 (0.10158121637734263, 'height')]

In [200]:
# Create the GridSearch estimator along with a parameter object containing the values to adjust
from sklearn.model_selection import GridSearchCV
param_grid = {"n_estimators": [200]}
grid = GridSearchCV(rf, param_grid, verbose=3)

In [201]:
# Fit the model using the grid search estimator. 
grid.fit(X_train, y_train)

/Users/melissamason/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
/Users/melissamason/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

Fitting 3 folds for each of 1 candidates, totalling 3 fits
[CV] n_estimators=200 ................................................
[CV] ....... n_estimators=200, score=0.7336448598130841, total=   0.3s
[CV] n_estimators=200 ................................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.3s remaining:    0.0s
/Users/melissamason/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV] ....... n_estimators=200, score=0.7511737089201878, total=   0.2s
[CV] n_estimators=200 ................................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.5s remaining:    0.0s
/Users/melissamason/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV] ....... n_estimators=200, score=0.7547169811320755, total=   0.2s

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.8s finished
/Users/melissamason/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:740: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_estimators': [200]}, pre_dispatch='2*n_jobs',
       refit=True, return_train_score='warn', scoring=None, verbose=3)

In [202]:
# List the best parameters for this dataset
print(grid.best_params_)

{'n_estimators': 200}

In [203]:
# List the best score
print(grid.best_score_)

0.7464788732394366

In [204]:
model = grid.best_estimator_
model

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [205]:
# Make predictions with the hypertuned model
predictions = grid.predict(X_test)

In [206]:
# Calculate classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.50      0.14      0.22        73
           1       0.68      0.93      0.78       141

   micro avg       0.66      0.66      0.66       214
   macro avg       0.59      0.53      0.50       214
weighted avg       0.62      0.66      0.59       214

In [216]:
import pickle

# filename = 'finalized_model.sav'
# pickle.dump(model, open(filename, 'wb'))
pickle.dump('random_forest', open('random_forest.pkl','wb'))