In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
df = pd.read_csv("../Draft_Machine/nba_data/2018.csv")

files = [file for file in os.listdir('./Nba_Data')]

all_year_data = pd.DataFrame()

for file in files:
    df = pd.read_csv("Nba_Data/" + file)
    all_year_data = pd.concat([all_year_data, df])
    
all_year_data.head()

/Users/melissamason/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

,Advanced,Per Game,Round 1,Shooting,Totals,Unnamed: 0,Unnamed: 1,Unnamed: 10,Unnamed: 11,Unnamed: 13,...,Unnamed: 18,Unnamed: 2,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 3,Unnamed: 5,Unnamed: 6,Unnamed: 8,Unnamed: 9
0,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,3P%,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,40.1,32.7,Derrick Rose,0.457,589,2008,1,2020,3310,0.305,...,5.6,1,0.1,0.3,11.3,CHI,Memphis,11,19254,11094
2,15.6,22.8,Michael Beasley,0.465,609,2008,2,2861,788,0.349,...,1.3,2,0.054,-3.2,-4.3,MIA,Kansas State,11,13903,7568
3,21.8,30.9,O.J. Mayo,0.429,547,2008,3,1706,1607,0.373,...,2.9,3,0.062,-0.8,5.1,MIN,USC,8,16919,7574
4,100.2,34.6,Russell Westbrook,0.436,862,2008,4,6090,7200,0.304,...,8.4,4,0.161,6.4,63.1,SEA,UCLA,12,29803,19944

In [3]:
all_year_data.shape

(1150, 23)

In [4]:
new_header = all_year_data.iloc[0] #grab the first row for the header
New_all_year_data = all_year_data[1:] #take the data less the header row
New_all_year_data.columns = new_header #set the header row as the df header
New_all_year_data.head(200)

,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,3P%,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,40.1,32.7,Derrick Rose,0.457,589,2008,1,2020,3310,0.305,...,5.6,1,0.1,0.3,11.3,CHI,Memphis,11,19254,11094
2,15.6,22.8,Michael Beasley,0.465,609,2008,2,2861,788,0.349,...,1.3,2,0.054,-3.2,-4.3,MIA,Kansas State,11,13903,7568
3,21.8,30.9,O.J. Mayo,0.429,547,2008,3,1706,1607,0.373,...,2.9,3,0.062,-0.8,5.1,MIN,USC,8,16919,7574
4,100.2,34.6,Russell Westbrook,0.436,862,2008,4,6090,7200,0.304,...,8.4,4,0.161,6.4,63.1,SEA,UCLA,12,29803,19944
5,80.8,31.9,Kevin Love,0.443,699,2008,5,7806,1639,0.371,...,2.3,5,0.174,2.6,25.7,MEM,UCLA,12,22332,12741
6,55.2,31,Danilo Gallinari,0.427,591,2008,6,2907,1215,0.38,...,2.1,6,0.144,1.3,15.1,NYK,NaN,11,18337,9526
7,34.4,32.9,Eric Gordon,0.426,653,2008,7,1619,1878,0.372,...,2.9,7,0.077,-1,5.4,LAC,Indiana,12,21503,10880
8,0.5,11.1,Joe Alexander,0.41,67,2008,8,120,44,0.34,...,0.7,8,0.03,-3.3,-0.2,MIL,West Virginia,2,745,282
9,44.3,24.2,D.J. Augustin,0.412,846,2008,9,1616,3388,0.38,...,4,9,0.104,-1.5,2.7,CHA,Texas,12,20432,8345
10,63.4,30.7,Brook Lopez,0.494,763,2008,10,4905,1165,0.339,...,1.5,10,0.13,1.1,18.5,NJN,Stanford,12,23386,12878
11,18.6,21.3,Jerryd Bayless,0.411,586,2008,11,1235,1674,0.361,...,2.9,11,0.072,-2,0,IND,Arizona,11,12486,4909
12,23.8,25.2,Jason Thompson,0.496,588,2008,12,3880,635,0.143,...,1.1,12,0.077,-1.7,1.3,SAC,Rider University,8,14819,5210
13,11.2,22,Brandon Rush,0.426,481,2008,13,1413,468,0.402,...,1,13,0.051,-1.7,0.7,POR,Kansas,9,10564,3250
14,5.8,15.2,Anthony Randolph,0.453,252,2008,14,1078,187,0.241,...,0.7,14,0.072,-2.1,-0.1,GSW,LSU,6,3841,1789
15,44.2,22.6,Robin Lopez,0.53,810,2008,15,4162,670,0.25,...,0.8,15,0.116,0,9.3,PHO,Stanford,12,18274,7191
16,25.8,15.1,Marreese Speights,0.459,705,2008,16,2875,461,0.356,...,0.7,16,0.116,-2.8,-2.2,PHI,Florida,10,10640,5592
17,35.9,24.8,Roy Hibbert,0.465,662,2008,17,4173,885,0.25,...,1.3,17,0.105,0.2,9.1,TOR,Georgetown,9,16389,6611
18,35.5,17.4,JaVale McGee,0.574,678,2008,18,3481,271,0.156,...,0.4,18,0.145,0.2,6.5,WAS,Nevada,12,11765,5400
19,21.9,22.3,J.J. Hickson,0.505,534,2008,19,3639,449,0,...,0.8,19,0.088,-2.3,-0.9,CLE,NC State,8,11925,5081
20,7.5,13.3,Alexis Ajinça,0.503,293,2008,20,1150,143,0.286,...,0.5,20,0.093,-2.5,-0.5,CHA,NaN,7,3905,1553
21,46.7,25.8,Ryan Anderson,0.422,649,2008,21,3413,586,0.38,...,0.9,21,0.134,0.6,11,NJN,California,12,16769,8001
22,38.8,27.2,Courtney Lee,0.451,797,2008,22,2100,1344,0.388,...,1.7,22,0.086,-0.2,9.8,ORL,Western Kentucky,12,21673,7691
23,28.3,16.4,Kosta Koufos,0.534,686,2008,23,3452,359,0,...,0.5,23,0.12,-0.9,3.3,UTA,Ohio State,11,11271,3913
24,66.9,28.6,Serge Ibaka,0.514,792,2008,24,5806,596,0.36,...,0.8,24,0.142,0.6,14.8,SEA,NaN,11,22656,9900
25,54.7,31.3,Nicolas Batum,0.434,789,2008,25,4137,2967,0.357,...,3.8,25,0.106,2.3,26.8,HOU,NaN,12,24733,9118
26,64.3,27.8,George Hill,0.457,770,2008,26,2386,2456,0.385,...,3.2,26,0.144,1.7,20.2,SAS,IUPUI,12,21399,8592
27,12.3,17.8,Darrell Arthur,0.444,503,2008,27,1768,409,0.352,...,0.8,27,0.066,-1.9,0.3,NOH,Kansas,9,8945,3282
28,1.5,16.8,Donté Greene,0.406,253,2008,28,600,183,0.304,...,0.7,28,0.017,-3.8,-2,MEM,Syracuse,4,4259,1541
29,3.8,15.3,D.J. White,0.507,138,2008,29,437,80,0.333,...,0.6,29,0.087,-3.4,-0.7,DET,Indiana,6,2111,810
30,0.1,6.5,J.R. Giddens,0.476,38,2008,30,54,13,0,...,0.3,30,0.027,-4.6,-0.2,BOS,New Mexico,2,247,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49,-0.1,4.8,Chimezie Metu,0.407,42,2018,49,58,16,0,...,0.4,49,-0.013,-6.4,-0.2,SAS,USC,2,203,87
50,0.2,4.4,Alize Johnson,0.367,25,2018,50,34,3,0.5,...,0.1,50,0.077,-6.7,-0.1,IND,Missouri State,2,110,31
51,NaN,NaN,Tony Carr,NaN,NaN,2018,51,NaN,NaN,NaN,...,NaN,51,NaN,NaN,NaN,NOP,Penn State,NaN,NaN,NaN
52,0,8,Vince Edwards,0.25,2,2018,52,2,0,0.25,...,0,52,-0.014,-9.8,0,UTA,Purdue,1,16,3
53,0,4,Devon Hall,0.2,5,2018,53,1,3,0,...,0.6,53,-0.059,-11.5,0,OKC,Virginia,1,20,5
54,0.7,13.3,Shake Milton,0.42,36,2018,54,69,40,0.337,...,1.1,54,0.069,-2.9,-0.1,DAL,SMU,2,478,188
55,NaN,NaN,Arnoldas Kulboka,NaN,NaN,2018,55,NaN,NaN,NaN,...,NaN,55,NaN,NaN,NaN,CHO,NaN,NaN,NaN,NaN
56,0.2,10.6,Ray Spalding,0.532,14,2018,56,48,5,0,...,0.4,56,0.051,-3.4,-0.1,PHI,Louisville,1,148,54
57,-0.1,2.2,Kevin Hervey,0,6,2018,57,2,1,0,...,0.2,57,-0.357,-17,0,OKC,UT Arlington,1,13,0
58,0.1,3.3,Thomas Welsh,0.538,11,2018,58,4,5,0.429,...,0.5,58,0.162,-2.6,0,DEN,UCLA,1,36,18
59,0,6,George King,NaN,1,2018,59,1,0,NaN,...,0,59,-0.001,-10.6,0,PHO,Colorado,1,6,0
60,0,3.2,Kostas Antetokounmpo,0,5,2018,60,2,1,NaN,...,0.2,60,-0.128,-10.4,0,PHI,Dayton,2,16,2
0,WS,MP,Player,FG%,G,year,Rk,TRB,AST,3P%,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,20.8,22.1,Kwame Brown,0.492,607,2001,1,3333,554,0.111,...,0.9,1,0.074,-2.1,-0.4,WAS,NaN,12,13389,4035
2,102.1,27.3,Tyson Chandler,0.597,1159,2001,2,10467,967,0,...,0.8,2,0.155,1.4,27.4,LAC,NaN,19,31617,9509
3,144.1,33.4,Pau Gasol,0.507,1226,2001,3,11305,3925,0.368,...,3.2,3,0.169,3.5,56.8,ATL,NaN,18,41001,20894
4,21.7,24.9,Eddy Curry,0.545,527,2001,4,2725,287,1,...,0.5,4,0.08,-3.5,-5,CHI,NaN,11,13109,6820
5,59.1,34.1,Jason Richardson,0.438,857,2001,5,4245,2284,0.37,...,2.7,5,0.097,1.3,24.4,GSW,Michigan State,13,29241,14644
6,75.7,30.7,Shane Battier,0.437,977,2001,6,4082,1717,0.384,...,1.8,6,0.121,2.9,37,MEM,Duke,13,30004,8408
7,10.9,22.2,Eddie Griffin,0.377,303,2001,7,1744,236,0.315,...,0.8,7,0.078,-1,1.7,NJN,Seton Hall,5,6729,2171
8,12.8,14,DeSagana Diop,0.427,601,2001,8,2219,270,0.167,...,0.4,8,0.073,0,4.3,CLE,NaN,12,8403,1185
9,1.8,15.4,Rodney White,0.424,218,2001,9,485,237,0.314,...,1.1,9,0.026,-3.8,-1.5,DET,UNC Charlotte,4,3354,1540
10,82.8,34.7,Joe Johnson,0.441,1276,2001,10,5059,5001,0.371,...,3.9,10,0.09,0.4,26.4,BOS,Arkansas,17,44234,20405
11,3,13.5,Kedrick Brown,0.405,143,2001,11,347,103,0.274,...,0.7,11,0.074,-2.2,-0.1,BOS,Okaloosa-Walton Community College,4,1935,509
12,26.5,21.9,Vladimir Radmanović,0.415,737,2001,12,2784,998,0.378,...,1.4,12,0.079,-0.1,7.7,SEA,NaN,12,16164,5879
13,83,29,Richard Jefferson,0.464,1181,2001,13,4720,2412,0.376,...,2,13,0.116,0.3,19.8,HOU,Arizona,17,34293,14904
14,50.3,27.3,Troy Murphy,0.445,729,2001,14,5708,1088,0.388,...,1.5,14,0.121,-0.1,9.5,GSW,Notre Dame,12,19921,7860
15,10.6,15,Steven Hunter,0.56,400,2001,15,1264,79,0,...,0.2,15,0.085,-2.8,-1.3,ORL,DePaul,8,5993,1817
16,-0.5,5,Kirk Haston,0.232,27,2001,16,27,8,0,...,0.3,16,-0.197,-13.5,-0.4,CHH,Indiana,2,134,32
17,2,11.7,Michael Bradley,0.477,173,2001,17,591,93,0.143,...,0.5,17,0.047,-3.7,-0.9,TOR,Villanova,5,2016,483

In [5]:
df =New_all_year_data.drop([0])
df.head(63)

,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,3P%,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,40.1,32.7,Derrick Rose,0.457,589,2008,1,2020,3310,0.305,...,5.6,1,0.1,0.3,11.3,CHI,Memphis,11,19254,11094
2,15.6,22.8,Michael Beasley,0.465,609,2008,2,2861,788,0.349,...,1.3,2,0.054,-3.2,-4.3,MIA,Kansas State,11,13903,7568
3,21.8,30.9,O.J. Mayo,0.429,547,2008,3,1706,1607,0.373,...,2.9,3,0.062,-0.8,5.1,MIN,USC,8,16919,7574
4,100.2,34.6,Russell Westbrook,0.436,862,2008,4,6090,7200,0.304,...,8.4,4,0.161,6.4,63.1,SEA,UCLA,12,29803,19944
5,80.8,31.9,Kevin Love,0.443,699,2008,5,7806,1639,0.371,...,2.3,5,0.174,2.6,25.7,MEM,UCLA,12,22332,12741
6,55.2,31,Danilo Gallinari,0.427,591,2008,6,2907,1215,0.38,...,2.1,6,0.144,1.3,15.1,NYK,NaN,11,18337,9526
7,34.4,32.9,Eric Gordon,0.426,653,2008,7,1619,1878,0.372,...,2.9,7,0.077,-1,5.4,LAC,Indiana,12,21503,10880
8,0.5,11.1,Joe Alexander,0.41,67,2008,8,120,44,0.34,...,0.7,8,0.03,-3.3,-0.2,MIL,West Virginia,2,745,282
9,44.3,24.2,D.J. Augustin,0.412,846,2008,9,1616,3388,0.38,...,4,9,0.104,-1.5,2.7,CHA,Texas,12,20432,8345
10,63.4,30.7,Brook Lopez,0.494,763,2008,10,4905,1165,0.339,...,1.5,10,0.13,1.1,18.5,NJN,Stanford,12,23386,12878
11,18.6,21.3,Jerryd Bayless,0.411,586,2008,11,1235,1674,0.361,...,2.9,11,0.072,-2,0,IND,Arizona,11,12486,4909
12,23.8,25.2,Jason Thompson,0.496,588,2008,12,3880,635,0.143,...,1.1,12,0.077,-1.7,1.3,SAC,Rider University,8,14819,5210
13,11.2,22,Brandon Rush,0.426,481,2008,13,1413,468,0.402,...,1,13,0.051,-1.7,0.7,POR,Kansas,9,10564,3250
14,5.8,15.2,Anthony Randolph,0.453,252,2008,14,1078,187,0.241,...,0.7,14,0.072,-2.1,-0.1,GSW,LSU,6,3841,1789
15,44.2,22.6,Robin Lopez,0.53,810,2008,15,4162,670,0.25,...,0.8,15,0.116,0,9.3,PHO,Stanford,12,18274,7191
16,25.8,15.1,Marreese Speights,0.459,705,2008,16,2875,461,0.356,...,0.7,16,0.116,-2.8,-2.2,PHI,Florida,10,10640,5592
17,35.9,24.8,Roy Hibbert,0.465,662,2008,17,4173,885,0.25,...,1.3,17,0.105,0.2,9.1,TOR,Georgetown,9,16389,6611
18,35.5,17.4,JaVale McGee,0.574,678,2008,18,3481,271,0.156,...,0.4,18,0.145,0.2,6.5,WAS,Nevada,12,11765,5400
19,21.9,22.3,J.J. Hickson,0.505,534,2008,19,3639,449,0,...,0.8,19,0.088,-2.3,-0.9,CLE,NC State,8,11925,5081
20,7.5,13.3,Alexis Ajinça,0.503,293,2008,20,1150,143,0.286,...,0.5,20,0.093,-2.5,-0.5,CHA,NaN,7,3905,1553
21,46.7,25.8,Ryan Anderson,0.422,649,2008,21,3413,586,0.38,...,0.9,21,0.134,0.6,11,NJN,California,12,16769,8001
22,38.8,27.2,Courtney Lee,0.451,797,2008,22,2100,1344,0.388,...,1.7,22,0.086,-0.2,9.8,ORL,Western Kentucky,12,21673,7691
23,28.3,16.4,Kosta Koufos,0.534,686,2008,23,3452,359,0,...,0.5,23,0.12,-0.9,3.3,UTA,Ohio State,11,11271,3913
24,66.9,28.6,Serge Ibaka,0.514,792,2008,24,5806,596,0.36,...,0.8,24,0.142,0.6,14.8,SEA,NaN,11,22656,9900
25,54.7,31.3,Nicolas Batum,0.434,789,2008,25,4137,2967,0.357,...,3.8,25,0.106,2.3,26.8,HOU,NaN,12,24733,9118
26,64.3,27.8,George Hill,0.457,770,2008,26,2386,2456,0.385,...,3.2,26,0.144,1.7,20.2,SAS,IUPUI,12,21399,8592
27,12.3,17.8,Darrell Arthur,0.444,503,2008,27,1768,409,0.352,...,0.8,27,0.066,-1.9,0.3,NOH,Kansas,9,8945,3282
28,1.5,16.8,Donté Greene,0.406,253,2008,28,600,183,0.304,...,0.7,28,0.017,-3.8,-2,MEM,Syracuse,4,4259,1541
29,3.8,15.3,D.J. White,0.507,138,2008,29,437,80,0.333,...,0.6,29,0.087,-3.4,-0.7,DET,Indiana,6,2111,810
30,0.1,6.5,J.R. Giddens,0.476,38,2008,30,54,13,0,...,0.3,30,0.027,-4.6,-0.2,BOS,New Mexico,2,247,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,32.3,26.7,Mario Chalmers,0.417,646,2008,34,1585,2412,0.351,...,3.7,34,0.09,0.3,9.8,MIN,Kansas,9,17245,5743
35,86.9,27.9,DeAndre Jordan,0.669,858,2008,35,9266,788,0.091,...,0.9,35,0.175,2.2,25.4,LAC,Texas A&M,12,23906,8141
36,20.9,19.6,Ömer Aşık,0.528,471,2008,36,3362,280,0,...,0.6,36,0.109,-1.5,1.1,POR,NaN,8,9216,2479
37,26,23.3,Luc Mbah a Moute,0.454,686,2008,37,2798,588,0.335,...,0.9,37,0.078,-0.8,4.9,MIL,UCLA,11,16013,4375
38,1.5,18.9,Kyle Weaver,0.441,73,2008,38,158,119,0.353,...,1.6,38,0.051,-1.3,0.3,CHA,Washington State,3,1379,363
39,0,18.2,Sonny Weems,0.465,183,2008,39,402,257,0.283,...,1.4,39,0.001,-4.2,-1.9,CHI,Arkansas,4,3335,1189
40,5.4,19.7,Chris Douglas-Roberts,0.439,222,2008,40,472,254,0.329,...,1.1,40,0.059,-2.9,-1,NJN,Memphis,6,4381,1571
41,0.2,9.6,Nathan Jawai,0.435,45,2008,41,106,24,0,...,0.5,41,0.02,-4,-0.2,IND,NaN,2,431,126
42,0,8.2,Sean Singletary,0.365,37,2008,42,35,29,0.4,...,0.8,42,0.006,-4.9,-0.2,SAC,Virginia,1,303,90
43,-0.1,2.7,Patrick Ewing,0,7,2008,43,2,2,0,...,0.3,43,-0.158,-9.3,0,SAC,Georgetown,1,19,3
44,NaN,NaN,Ante Tomić,NaN,NaN,2008,44,NaN,NaN,NaN,...,NaN,44,NaN,NaN,NaN,UTA,NaN,NaN,NaN,NaN
45,53.2,28,Goran Dragić,0.465,794,2008,45,2421,3827,0.365,...,4.8,45,0.115,1,17,SAS,NaN,12,22243,10995
46,NaN,NaN,Trent Plaisted,NaN,NaN,2008,46,NaN,NaN,NaN,...,NaN,46,NaN,NaN,NaN,SEA,Brigham Young University Hawaii,NaN,NaN,NaN
47,5,16.7,Henry Walker,0.446,181,2008,47,401,153,0.369,...,0.8,47,0.079,-1.3,0.5,WAS,Kansas State,5,3016,1079
48,0.8,7.6,Malik Hairston,0.512,62,2008,48,77,29,0.167,...,0.5,48,0.086,-1.9,0,PHO,Oregon,2,472,149
49,NaN,NaN,Richard Hendrix,NaN,NaN,2008,49,NaN,NaN,NaN,...,NaN,49,NaN,NaN,NaN,GSW,Alabama,NaN,NaN,NaN
50,NaN,NaN,DeVon Hardin,NaN,NaN,2008,50,NaN,NaN,NaN,...,NaN,50,NaN,NaN,NaN,SEA,California,NaN,NaN,NaN
51,NaN,NaN,Shan Foster,NaN,NaN,2008,51,NaN,NaN,NaN,...,NaN,51,NaN,NaN,NaN,DAL,Vanderbilt,NaN,NaN,NaN
52,1.3,7.5,Darnell Jackson,0.449,138,2008,52,203,26,0.235,...,0.2,52,0.059,-4.9,-0.7,MIA,Kansas,3,1039,308
53,NaN,NaN,Tadija Dragićević,NaN,NaN,2008,53,NaN,NaN,NaN,...,NaN,53,NaN,NaN,NaN,UTA,NaN,NaN,NaN,NaN
54,NaN,NaN,Maarty Leunen,NaN,NaN,2008,54,NaN,NaN,NaN,...,NaN,54,NaN,NaN,NaN,HOU,Oregon,NaN,NaN,NaN
55,-0.4,15.1,Mike Taylor,0.412,51,2008,55,87,106,0.325,...,2.1,55,-0.028,-5.5,-0.7,POR,Iowa State,1,771,289
56,0.2,3.8,Sasha Kaun,0.529,25,2008,56,26,3,NaN,...,0.1,56,0.096,-0.8,0,SEA,Kansas,1,95,23
57,NaN,NaN,James Gist,NaN,NaN,2008,57,NaN,NaN,NaN,...,NaN,57,NaN,NaN,NaN,SAS,Maryland,NaN,NaN,NaN
58,0,11.5,Joe Crawford,0.3,2,2008,58,4,1,0.25,...,0.5,58,0.037,-5.6,0,LAL,Kentucky,1,23,9
59,NaN,NaN,Deron Washington,NaN,NaN,2008,59,NaN,NaN,NaN,...,NaN,59,NaN,NaN,NaN,DET,Virginia Tech,NaN,NaN,NaN
60,1.8,13.4,Semih Erden,0.546,69,2008,60,190,29,NaN,...,0.4,60,0.094,-2,0,BOS,NaN,2,928,262
1,75.3,34.8,Blake Griffin,0.498,622,2009,1,5501,2749,0.333,...,4.4,1,0.167,3.8,32,LAC,Oklahoma,10,21671,13479
2,4.8,10.5,Hasheem Thabeet,0.567,224,2009,2,595,27,NaN,...,0.1,2,0.099,-1.4,0.4,MEM,UConn,5,2357,483
3,130.6,34.3,James Harden,0.442,810,2009,3,4287,5067,0.364,...,6.3,3,0.226,7.2,64.5,OKC,Arizona State,11,27775,20231

In [6]:
df_sort = df.sort_values(by = "Year")
df_sort.head()

,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,3P%,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,48,30.6,Kenyon Martin,0.483,757,2000,1,5159,1439,0.234,...,1.9,1,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
33,11.6,14.3,Jake Voskuhl,0.487,450,2000,33,1539,237,0.333,...,0.5,33,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
34,0.6,18.7,Khalid El-Amin,0.37,50,2000,34,81,145,0.333,...,2.9,34,0.03,-3.8,-0.4,CHI,UConn,1,936,314
35,-0.1,10.6,Mike Smith,0.322,17,2000,35,22,10,0.167,...,0.6,35,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51
36,0.3,6.4,Soumaila Samake,0.389,47,2000,36,76,5,NaN,...,0.1,36,0.046,-6.5,-0.3,NJN,NaN,2,303,68

In [7]:
college_df=df_sort.dropna(axis=0, subset=["College"], inplace=False)
college_df.head(10)

,WS,MP,Player,FG%,G,Year,Rk,TRB,AST,3P%,...,AST,Pk,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,48,30.6,Kenyon Martin,0.483,757,2000,1,5159,1439,0.234,...,1.9,1,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
33,11.6,14.3,Jake Voskuhl,0.487,450,2000,33,1539,237,0.333,...,0.5,33,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
34,0.6,18.7,Khalid El-Amin,0.37,50,2000,34,81,145,0.333,...,2.9,34,0.03,-3.8,-0.4,CHI,UConn,1,936,314
35,-0.1,10.6,Mike Smith,0.322,17,2000,35,22,10,0.167,...,0.6,35,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51
37,20,17.3,Eddie House,0.409,717,2000,37,1223,1112,0.39,...,1.6,37,0.077,-1.5,1.6,MIA,Arizona State,11,12405,5356
38,24.7,18.1,Eduardo Nájera,0.481,619,2000,38,2307,493,0.311,...,0.8,38,0.106,0.3,6.4,HOU,Oklahoma,12,11213,3052
39,-0.2,7.3,Lavor Postell,0.335,61,2000,39,45,13,0.25,...,0.2,39,-0.025,-8.6,-0.7,NYK,St. John's,3,446,195
40,0.9,15.2,Hanno Möttölä,0.442,155,2000,40,442,75,0.063,...,0.5,40,0.019,-5.8,-2.3,ATL,Utah,2,2360,715
41,NaN,NaN,Chris Carrawell,NaN,NaN,2000,41,NaN,NaN,NaN,...,NaN,41,NaN,NaN,NaN,SAS,Duke,NaN,NaN,NaN
43,55.9,32,Michael Redd,0.447,629,2000,43,2411,1338,0.38,...,2.1,43,0.134,0.9,14.9,MIL,Ohio State,12,20104,11972

In [8]:
clean=college_df.drop(columns=["FG%", "TRB", "AST", "3P%","FT%","TRB","AST", "Pk"])
clean.head()

,WS,MP,Player,G,Year,Rk,PTS,WS/48,BPM,VORP,Tm,College,Yrs,MP,PTS
1,48,30.6,Kenyon Martin,757,2000,1,12.3,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
33,11.6,14.3,Jake Voskuhl,450,2000,33,4,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
34,0.6,18.7,Khalid El-Amin,50,2000,34,6.3,0.03,-3.8,-0.4,CHI,UConn,1,936,314
35,-0.1,10.6,Mike Smith,17,2000,35,3,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51
37,20,17.3,Eddie House,717,2000,37,7.5,0.077,-1.5,1.6,MIA,Arizona State,11,12405,5356

In [9]:
clean.columns=["Win Shares", "Mins Played (per game)", "Player","Games","Year","Rank","Points(per game)","WS/48", "Box +/-","Value Overall Replacement Player", "Team", "College", "Years","Mins Played (Total)","Points (Total)"]
                                
clean.rename(columns={df_sort.columns[0]:"Win Shares"})

,Win Shares,Mins Played (per game),Player,Games,Year,Rank,Points(per game),WS/48,Box +/-,Value Overall Replacement Player,Team,College,Years,Mins Played (Total),Points (Total)
1,48,30.6,Kenyon Martin,757,2000,1,12.3,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
33,11.6,14.3,Jake Voskuhl,450,2000,33,4,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
34,0.6,18.7,Khalid El-Amin,50,2000,34,6.3,0.03,-3.8,-0.4,CHI,UConn,1,936,314
35,-0.1,10.6,Mike Smith,17,2000,35,3,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51
37,20,17.3,Eddie House,717,2000,37,7.5,0.077,-1.5,1.6,MIA,Arizona State,11,12405,5356
38,24.7,18.1,Eduardo Nájera,619,2000,38,4.9,0.106,0.3,6.4,HOU,Oklahoma,12,11213,3052
39,-0.2,7.3,Lavor Postell,61,2000,39,3.2,-0.025,-8.6,-0.7,NYK,St. John's,3,446,195
40,0.9,15.2,Hanno Möttölä,155,2000,40,4.6,0.019,-5.8,-2.3,ATL,Utah,2,2360,715
41,NaN,NaN,Chris Carrawell,NaN,2000,41,NaN,NaN,NaN,NaN,SAS,Duke,NaN,NaN,NaN
43,55.9,32,Michael Redd,629,2000,43,19,0.134,0.9,14.9,MIL,Ohio State,12,20104,11972
44,15.4,14.2,Brian Cardinal,456,2000,44,4.6,0.114,0.7,4.5,DET,Purdue,12,6477,2108
32,0.3,15.6,A.J. Guyton,80,2000,32,5.5,0.01,-5.4,-1.1,CHI,Indiana,3,1246,442
45,1.3,9.8,Jabari Smith,108,2000,45,3,0.058,-4,-0.5,SAC,LSU,4,1063,329
48,NaN,NaN,Mark Karcher,NaN,2000,48,NaN,NaN,NaN,NaN,PHI,Temple,NaN,NaN,NaN
49,8.6,15.5,Jason Hart,341,2000,49,4.8,0.078,-1.7,0.3,MIL,Syracuse,9,5289,1623
50,0.1,4.5,Kaniel Dickens,19,2000,50,1.2,0.055,-5,-0.1,UTA,Idaho,3,85,22
52,-0.2,7,Ernest Brown,3,2000,52,1,-0.349,-24.7,-0.1,MIA,Indian Hills Community College,1,21,3
53,0,9.7,Dan McClintock,6,2000,53,3,0.007,-6.6,-0.1,DEN,Northern Arizona University,1,58,18
54,NaN,NaN,Cory Hightower,NaN,2000,54,NaN,NaN,NaN,NaN,SAS,Indian Hills Community College,NaN,NaN,NaN
55,0.2,22.5,Chris Porter,51,2000,55,8.6,0.008,-4.6,-0.8,GSW,Auburn,1,1147,440
56,NaN,NaN,Jaquay Walls,NaN,2000,56,NaN,NaN,NaN,NaN,IND,Colorado,NaN,NaN,NaN
57,NaN,NaN,Scoonie Penn,NaN,2000,57,NaN,NaN,NaN,NaN,ATL,Ohio State,NaN,NaN,NaN
58,NaN,NaN,Pete Mickeal,NaN,2000,58,NaN,NaN,NaN,NaN,DAL,Cincinnati,NaN,NaN,NaN
46,NaN,NaN,DeeAndre Hulett,NaN,2000,46,NaN,NaN,NaN,NaN,TOR,College of the Sequoias,NaN,NaN,NaN
31,0.3,9.4,Dan Langhi,133,2000,31,3,0.012,-6.8,-1.5,DAL,Vanderbilt,4,1253,393
2,21.3,19.8,Stromile Swift,547,2000,2,8.4,0.095,-1.9,0.2,VAN,LSU,9,10804,4582
29,8.2,11.8,Mark Madsen,453,2000,29,2.2,0.074,-2.2,-0.2,LAL,Stanford,9,5335,975
4,2.7,20.9,Marcus Fizer,289,2000,4,9.6,0.022,-4.7,-4.1,CHI,Iowa State,6,6032,2782
5,60.7,26.9,Mike Miller,1032,2000,5,10.6,0.105,0.9,20.3,ORL,Florida,17,27812,10973
6,6.4,17.2,DerMarr Johnson,344,2000,6,6.2,0.052,-1.6,0.6,ATL,Cincinnati,7,5930,2121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,1,13.7,Hamidou Diallo,81,2018,45,4.8,0.041,-4.7,-0.8,BRK,Kentucky,2,1112,389
30,2.6,17.7,Omari Spellman,92,2018,30,6.8,0.076,-1.2,0.3,ATL,Villanova,2,1628,625
60,0,3.2,Kostas Antetokounmpo,5,2018,60,0.4,-0.128,-10.4,0,PHI,Dayton,2,16,2
28,-0.7,10.3,Jacob Evans,54,2018,28,2.7,-0.06,-8,-0.8,GSW,Cincinnati,2,555,147
1,7.5,31.1,Deandre Ayton,89,2018,1,16.6,0.131,0.2,1.5,PHO,Arizona,2,2772,1479
2,4,25.3,Marvin Bagley,75,2018,2,14.8,0.101,-2.5,-0.2,SAC,Duke,2,1901,1108
4,6,27,Jaren Jackson,105,2018,4,15.5,0.102,0.5,1.8,MEM,Michigan State,2,2833,1628
5,7.8,32.4,Trae Young,125,2018,5,22.8,0.093,1.4,3.5,DAL,Oklahoma,2,4046,2844
6,3.4,15.8,Mohamed Bamba,91,2018,6,5.8,0.112,0.4,0.9,ORL,Texas,2,1440,532
7,5.1,27.4,Wendell Carter,81,2018,7,11,0.111,-0.3,0.9,CHI,Duke,2,2219,888
8,0.8,31.9,Collin Sexton,131,2018,8,17.8,0.009,-4.4,-2.5,CLE,Alabama,2,4175,2329
9,-0.9,24.9,Kevin Knox,123,2018,9,10.6,-0.014,-5.3,-2.6,NYK,Kentucky,2,3058,1304
10,5.6,27.6,Mikal Bridges,130,2018,10,8,0.075,0.3,2.1,PHI,Villanova,2,3593,1042
11,7.4,29.9,Shai Gilgeous-Alexander,132,2018,11,14.1,0.09,-0.1,1.9,CHO,Kentucky,2,3950,1858
12,4,24.5,Miles Bridges,128,2018,12,9.2,0.062,-1.4,0.5,LAC,Michigan State,2,3139,1182
13,0,10.8,Jerome Robinson,73,2018,13,3.2,0.002,-4.4,-0.5,LAC,Boston College,2,792,234
14,1.9,14.3,Michael Porter,39,2018,14,8,0.168,0.6,0.4,DEN,Missouri,1,556,311
15,2.3,19.6,Troy Brown,96,2018,15,7.5,0.058,-2.1,-0.1,WAS,Oregon,2,1884,716
16,0.1,14.7,Zhaire Smith,9,2018,16,4.9,0.025,-4.7,-0.1,PHO,Texas Tech,2,132,44
17,3.7,19.8,Donte DiVincenzo,70,2018,17,7.4,0.129,1.4,1.2,MIL,Villanova,2,1389,518
18,0.4,10.9,Lonnie Walker,56,2018,18,4.8,0.033,-4.7,-0.4,SAS,Miami (FL),2,613,270
19,2.5,27.8,Kevin Huerter,113,2018,19,10.3,0.038,-1.7,0.2,ATL,Maryland,2,3140,1161
20,2.4,23.8,Josh Okogie,119,2018,20,7.8,0.041,-1.6,0.3,MIN,Georgia Tech,2,2838,929
21,0.6,13.4,Grayson Allen,68,2018,21,6.4,0.033,-5,-0.7,UTA,Duke,2,914,432
22,1.3,19.2,Chandler Hutchison,68,2018,22,5.9,0.049,-3.8,-0.6,CHI,Boise State,2,1303,400
23,2.7,17.9,Aaron Holiday,95,2018,23,8,0.076,-1.7,0.1,IND,UCLA,2,1698,760
25,1.2,13.7,Moritz Wagner,64,2018,25,7,0.066,-2.4,-0.1,LAL,Michigan,2,875,451
26,5.4,24.4,Landry Shamet,110,2018,26,9.4,0.097,-0.7,0.9,PHI,Wichita State,2,2679,1036
27,2.3,10.8,Robert Williams,51,2018,27,3,0.199,5,1,BOS,Texas A&M,2,552,155
59,0,6,George King,1,2018,59,0,-0.001,-10.6,0,PHO,Colorado,1,6,0

In [10]:
df_reindex=clean.reset_index()
df_reindex=df_reindex.drop(['index'],axis=1)
df_reindex.head(20)

,Win Shares,Mins Played (per game),Player,Games,Year,Rank,Points(per game),WS/48,Box +/-,Value Overall Replacement Player,Team,College,Years,Mins Played (Total),Points (Total)
0,48,30.6,Kenyon Martin,757,2000,1,12.3,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
1,11.6,14.3,Jake Voskuhl,450,2000,33,4,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
2,0.6,18.7,Khalid El-Amin,50,2000,34,6.3,0.03,-3.8,-0.4,CHI,UConn,1,936,314
3,-0.1,10.6,Mike Smith,17,2000,35,3,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51
4,20,17.3,Eddie House,717,2000,37,7.5,0.077,-1.5,1.6,MIA,Arizona State,11,12405,5356
5,24.7,18.1,Eduardo Nájera,619,2000,38,4.9,0.106,0.3,6.4,HOU,Oklahoma,12,11213,3052
6,-0.2,7.3,Lavor Postell,61,2000,39,3.2,-0.025,-8.6,-0.7,NYK,St. John's,3,446,195
7,0.9,15.2,Hanno Möttölä,155,2000,40,4.6,0.019,-5.8,-2.3,ATL,Utah,2,2360,715
8,NaN,NaN,Chris Carrawell,NaN,2000,41,NaN,NaN,NaN,NaN,SAS,Duke,NaN,NaN,NaN
9,55.9,32,Michael Redd,629,2000,43,19,0.134,0.9,14.9,MIL,Ohio State,12,20104,11972
10,15.4,14.2,Brian Cardinal,456,2000,44,4.6,0.114,0.7,4.5,DET,Purdue,12,6477,2108
11,0.3,15.6,A.J. Guyton,80,2000,32,5.5,0.01,-5.4,-1.1,CHI,Indiana,3,1246,442
12,1.3,9.8,Jabari Smith,108,2000,45,3,0.058,-4,-0.5,SAC,LSU,4,1063,329
13,NaN,NaN,Mark Karcher,NaN,2000,48,NaN,NaN,NaN,NaN,PHI,Temple,NaN,NaN,NaN
14,8.6,15.5,Jason Hart,341,2000,49,4.8,0.078,-1.7,0.3,MIL,Syracuse,9,5289,1623
15,0.1,4.5,Kaniel Dickens,19,2000,50,1.2,0.055,-5,-0.1,UTA,Idaho,3,85,22
16,-0.2,7,Ernest Brown,3,2000,52,1,-0.349,-24.7,-0.1,MIA,Indian Hills Community College,1,21,3
17,0,9.7,Dan McClintock,6,2000,53,3,0.007,-6.6,-0.1,DEN,Northern Arizona University,1,58,18
18,NaN,NaN,Cory Hightower,NaN,2000,54,NaN,NaN,NaN,NaN,SAS,Indian Hills Community College,NaN,NaN,NaN
19,0.2,22.5,Chris Porter,51,2000,55,8.6,0.008,-4.6,-0.8,GSW,Auburn,1,1147,440

In [11]:
clean_df=df_reindex.fillna(value=0)
clean_df.head()

,Win Shares,Mins Played (per game),Player,Games,Year,Rank,Points(per game),WS/48,Box +/-,Value Overall Replacement Player,Team,College,Years,Mins Played (Total),Points (Total)
0,48,30.6,Kenyon Martin,757,2000,1,12.3,0.1,0.7,15.5,NJN,Cincinnati,15,23134,9325
1,11.6,14.3,Jake Voskuhl,450,2000,33,4,0.087,-2.2,-0.3,CHI,UConn,9,6443,1814
2,0.6,18.7,Khalid El-Amin,50,2000,34,6.3,0.03,-3.8,-0.4,CHI,UConn,1,936,314
3,-0.1,10.6,Mike Smith,17,2000,35,3,-0.033,-5.5,-0.2,WAS,University of Louisiana at Monroe,1,180,51
4,20,17.3,Eddie House,717,2000,37,7.5,0.077,-1.5,1.6,MIA,Arizona State,11,12405,5356

In [12]:
clean_df.dtypes

Win Shares                          object
Mins Played (per game)              object
Player                              object
Games                               object
Year                                object
Rank                                object
Points(per game)                    object
WS/48                               object
Box +/-                             object
Value Overall Replacement Player    object
Team                                object
College                             object
Years                               object
Mins Played (Total)                 object
Points (Total)                      object
dtype: object

In [30]:
clean_df["Win Shares"]= clean_df["Win Shares"].astype ('float')
clean_df["Mins Played (per game)"]=clean_df["Mins Played (per game)"].astype ('float')
clean_df["Points(per game)"]=clean_df["Points(per game)"].astype ('float')
clean_df["WS/48"]=clean_df["WS/48"].astype ('float')
clean_df["Box +/-"]=clean_df["Box +/-"].astype ('float')
clean_df["Value Overall Replacement Player"]=clean_df["Value Overall Replacement Player"].astype ('float')


clean_df["Games"]=clean_df["Games"].astype("int")
clean_df["Year"]=clean_df["Year"].astype("int")
clean_df["Rank"]=clean_df["Rank"].astype("int")
clean_df["Years"]=clean_df["Years"].astype("int")
clean_df["Mins Played (Total)"]=clean_df["Mins Played (Total)"].astype("int")
clean_df["Points (Total)"]=clean_df["Points (Total)"].astype("int")

clean_df["Player"]=clean_df["Player"].astype(str)
#  "Player":str,

#  "Team":str, 
# "College":str,

In [31]:
clean_df.dtypes

Win Shares                          float64
Mins Played (per game)              float64
Player                               object
Games                                 int64
Year                                  int64
Rank                                  int64
Points(per game)                    float64
WS/48                               float64
Box +/-                             float64
Value Overall Replacement Player    float64
Team                                 object
College                              object
Years                                 int64
Mins Played (Total)                   int64
Points (Total)                        int64
dtype: object

In [27]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863 entries, 0 to 862
Data columns (total 15 columns):
Win Shares                          863 non-null float64
Mins Played (per game)              863 non-null float64
Player                              863 non-null object
Games                               863 non-null int64
Year                                863 non-null int64
Rank                                863 non-null int64
Points(per game)                    863 non-null float64
WS/48                               863 non-null float64
Box +/-                             863 non-null float64
Value Overall Replacement Player    863 non-null float64
Team                                863 non-null object
College                             863 non-null object
Years                               863 non-null int64
Mins Played (Total)                 863 non-null int64
Points (Total)                      863 non-null int64
dtypes: float64(6), int64(6), object(3)
memory usage: 101.2+ KB

In [26]:
clean_df.describe()

,Win Shares,Mins Played (per game),Games,Year,Rank,Points(per game),WS/48,Box +/-,Value Overall Replacement Player,Years,Mins Played (Total),Points (Total)
count,863.000000,863.000000,863.000000,863.000000,863.000000,863.000000,863.000000,863.00000,863.000000,863.000000,863.000000,863.000000
mean,13.652028,16.471727,281.139050,2009.319815,29.213210,6.585052,0.054680,-2.25029,3.182735,5.195829,6644.724218,2823.266512
std,21.857165,9.600228,281.570639,5.464049,17.042079,5.180843,0.074459,3.59195,8.485267,4.121122,8184.804212,3950.518173
min,-2.400000,0.000000,0.000000,2000.000000,1.000000,0.000000,-0.597000,-26.90000,-5.900000,0.000000,0.000000,0.000000
25%,0.100000,9.400000,50.000000,2005.000000,14.000000,2.800000,0.010000,-4.00000,-0.400000,2.000000,480.000000,149.500000
50%,3.700000,16.200000,172.000000,2010.000000,29.000000,5.600000,0.062000,-1.80000,0.000000,4.000000,3058.000000,1089.000000
75%,18.250000,23.850000,465.000000,2014.000000,44.000000,9.300000,0.099000,0.00000,2.900000,8.000000,10566.000000,3943.000000
max,177.700000,36.900000,1326.000000,2018.000000,60.000000,27.000000,0.244000,7.20000,80.900000,19.000000,44234.000000,26073.000000

In [32]:
# # #df.to_csv(file_name, sep='\t', encoding='utf-8')
clean.to_csv("NBA_data.csv",index = False, header = True)